*{
	margin: 0;
	padding: 0;
}
body{
	position:relative;
	background-image:url(C:/Users/Christopher/HenryDillard/waf/assets/images/404.png);
	background-size:cover;
	color:black;
	font-family: Book Antiqua, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height:1.6em;
	margin:0;
	padding:0px;
	display:inline-block;
}
.header {
	width:1880px;
	padding:0;
	margin:none;
	position:fixed;
	background-color:#97c4f7;
	padding:none;
}
#header {
	height:15px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
	width:100%;
}
#header ul{
	height:0px;
	position:fixed;
	list-style: none;
	display:inline-block;
	text-decoration:none
	padding:0px;
	margin:none;
}
#header li{
	height:0px;
	position:fixed;
	list-style: none;
	display:inline-block;
	text-decoration:none;
	padding:0px;
	margin:none;
}
#main-footer {
	width:1349px;
	margin-top:850px;
	text-align:center;
	font-size:18px;
	background-color:black;
	color:#b2d4fa;
	padding:0px;
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	color:#18314d;
}
a:active{
	color:grey;
}
a:visited{
	color:#1b3954;
}
.lyrics1 {
	padding:60px;
	margin-top:10px;
	float:left;
	color:black;
	font-family: Times New Roman, Book Antiqua, Arial, Helvetica, sans-serif;
	max-width:600px;
	margin: 0 auto;
	border:black;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:black;
}
.discography ul{
	padding:10px;
	list-style: none;
	display:inline-block;
	text-decoration:none;
}

.discography li{
	padding:10px;
	list-style: none;
	display:inline-block;
	text-decoration:none;
}