*{
	margin: 0;
	padding: 0;
}
body{
	position:relative;
	background-image:url(C:Users/Christopher/HenryDillard/waf/assets/images/GradientOrange2.jpg);
	background-size:cover;
	color:white;
	font-family: Book Antiqua, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height:1.6em;
	margin:0;
	padding:0px;
	display:inline-block;
}
.header {
	width:1880px;
	padding:0;
	margin:none;
	position:fixed;
	background-color:#1b3954;
	padding:none;
}
#header {
	height:15px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
	width:100%;
}
#header ul{
	height:0px;
	position:fixed;
	list-style: none;
	display:inline-block;
	text-decoration:none
	padding:0px;
	margin:none;
}
#header li{
	height:0px;
	position:fixed;
	list-style: none;
	display:inline-block;
	text-decoration:none;
	padding:0px;
	margin:none;
}
#main-footer {
	float:left;
	width:1349px;
	margin-bottom:0px;
	text-align:center;
	font-size:18px;
	background-color:black;
	color:#b2d4fa;
}
a{
	text-decoration: none;
	color:#63c1c4;
}
a:hover{
	color:#fae8e8;
}
a: active{
	color:#1b3954;
}
.tracklisting{
	color:black;
	font-size:22px;
	margin-left:530px;
}
.tracklisting a{
	float:center;
	color:black;
}
.tracklisting a:hover{
	color:#fae8e8;
}
.artwork1{
	float:left;
	margin-top:-30px;
	margin-right:5px;
	margin-bottom:5px;
	padding:10px;

}
.artwork2{
	float:right;
	margin-top:-395px;
	margin-left:50px;
	padding:10px;
}
