/* the asterisk selects everything and will zero out all padding*/
*{
	margin: 0;
	padding: 0;
}
body{
	position:relative;
	background-image:url(C:/Users/Christopher/HenryDillard/waf/assets/images/414.png);
	background-size:cover;
	color:black;
	font-family: Book Antiqua, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height:1.6em;
	top-margin:10px;
	padding:0px;
	display:inline-block;
}
.header {
	width:1880px;
	padding:0;
	margin:none;
	position:fixed;
	background-color:#1b3954;
	padding:none;
}
#header {
	height:15px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
	width:100%;
}
#header ul{
	height:0px;
	position:fixed;
	list-style: none;
	display:inline-block;
	text-decoration:none
	padding:0px;
	margin:none;
}
#header li{
	height:0px;
	position:fixed;
	list-style: none;
	display:inline-block;
	text-decoration:none;
	padding:0px;
	margin:none;
}
#main-footer {
	width:1349px;
	margin-top:850px;
	text-align:center;
	font-size:18px;
	background-color:black;
	color:#b2d4fa;
	padding:0px;
}
.header a{
	text-decoration: none;
	color:#63c1c4;
}
a:hover{
	color:#fae8e8;
}
a:active{
	color:#1b3954;
}
/*PARAGRAPH 1 & 2 ARE ON THE INDEX PAGE */
.paragraph1{
	float:left;
	max-width:800px;
	padding-left:190px;
	padding-top:35px;
	padding-bottom:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:black;
}
.achievements{
	float:left;
	max-width:700px;
	padding-top:35px;
	padding-left:35px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:black;
}
.achievements a{
	color:#18314d;
}
.achievements a:hover{
	color:#63c1c4;
}

/*VCR IS ON THE VIDEOS PAGE */
.vcr {
	padding:10px;
	margin-left:350px;
}
/*DISCOGRAPHY PAGE */
.discography ul{
	padding:15px;
	list-style: none;
	display:inline-block;
	text-decoration:none;
}

.discography li{
	padding:15px;
	list-style: none;
	display:inline-block;
	text-decoration:none;
}
.discography a:hover{
	color:#63c1c4;
}
.discography a{
	color:#1b3954;;
}
.Headline1{
	float:center;
	padding:10px;
	margin-left:20x;
	text-align:center;
}