/* the asterisk selects everything and will zero out all padding
*{
	margin: 0;
	padding: 0;
}
*/

body{
	background-image:url(../assets/images/bg.jpeg);
	background-size:cover;
	color:black;
	font-family: Bookman Old Style, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height:1.6em;
	margin:0;
}

#main-header{
	text-align:center;
	background-color:black;
	color: lightblue;
	padding:1px;
}

#main-footer {
	position:absolute bottom;
	margin-top:850px;
	text-align: center;
	font-size:18px;
	background-color: black;
	color:lightblue;
	padding:10px;
}


a{
	text-decoration: none;
	color:#000;
}
a:hover{
	color:blue;
}
a:active{
	color:grey;
}
a:visited{
	color:black;
}



.hakeem{
	position:absolute;
	margin-left:376px;
}
.index-text{
	margin-top:250px;
	margin-left:25px;
}
.badge1{
	position:absolute;
	margin-top:500px;
	margin-left:1100px;
	
}
.badge2{
	position:absolute;
	margin-top:500px;
	margin-left:900px;
	
}
.redbird1{
	position: absolute;
	margin-top:0px;
	margin-left:20px;
}
.redbird2{
	position:absolute;
	margin-top:-28px;
	margin-left:360px;
}
.self1{
	position:absolute;
	margin-top:300px;
	margin-left:20px;
}
.self2{
	position:absolute;
	margin-top:274px;
	margin-left:360px;
}
.self3{
	position:absolute;
	margin-top:220px;
	margin-left:700px;
}
.self4{
	position:absolute;
	margin-top:520px;
	margin-left:20px;
}
.finaltext{
	position:absolute;
	margin-top:735px;
	margin-left:20px;
}




