/* the asterisk selects everything and will zero out all padding
*{
	margin: 0;
	padding: 0;
}
*/
body{
	background-image:url(../assets/images/bg3.jpg);
	background-size:cover;
	color:black;
	font-family: Book Antiqua, Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	line-height:1.6em;
	margin:0;
	padding:0px;
	display:inline-block;
}
.header {
	width:1880px;
	padding:0;
	margin:none;
	position:fixed;
	background-color:lightblue;
}
#header {
	height:15px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
	width:100%;
}
#header ul{
	height:0px;
	position:fixed;
	list-style: none;
	display:inline-block;
	text-decoration:none
	padding:0px;
	margin:none;
}
#header li{
	height:0px;
	position:fixed;
	list-style: none;
	display:inline-block;
	text-decoration:none;
	padding:0px;
	margin:none;
}
#main-footer {
	width:1349px;
	margin-top:850px;
	text-align:center;
	font-size:18px;
	background-color:black;
	color:lightblue;
	padding:0px;
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	color:#18314d;
}
a:active{
	color:grey;
}
a:visited{
	color:#1b3954;
}

